.card {
    padding: 0;
}
.p-card .p-card-body {
    background-color: black;
    color: white;
    text-align: left;
    color: white;
}

.card_buttons .p-button.p-button-text{
    color: white;
    padding-left: 0;
}