.card {
    padding: 0;
}
.p-card .p-card-body {
    background-color: black;
    color: white;
    text-align: left;
    color: white;
}

.p-button.p-button-text{
    color: white;
    padding-left: 0;
}
.p-button.p-button-text:active, .p-button.p-button-text:enabled:hover{
   color: rgb(153, 153, 153);
   background: none;
}

.card_buttons .p-button:focus{
    box-shadow: none;
}

.p-card .p-card-content {
    padding: 0;
}