body{
  background-color:#ECE8E8;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #D62929;
}
