body{
  background-color:#ECE8E8;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #D62929;
}

.container {
  margin: 0 100px 0 100px;
}

.grid {
  padding: 0 50px 0 50px;
}

/* The Masonry Container */
.gridlist {
  margin: 1.5em auto;
  max-width: 768px;
  column-gap: 1.5em;
  row-gap: 1.5em;
}

/* The Masonry Brick */
.card {
  padding: 1em;
  margin: 0 0 1.5em;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .gridlist {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .gridlist {
    column-count: 2;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .gridlist {
    column-count: 1;
  }
}